{% load wger_extras %}
{% load i18n %}
<div>
    <div class="form-group">
        <label class="col-md-3 control-label">
            Drop sets
        </label>
        <div class=" col-md-9">
            <span class="help-block">
                To do drop sets choose the initial weight, the number of repetitions on each set and the amount of weight to drop on each set.
                <br/>
                <a href="https://en.wikipedia.org/wiki/Drop_set">What is a Drop Set?</a>
            </span>
            <div class="col-xs-6">
                <input type="number" id="weight-{{exercise.id}}" class="form-control" placeholder="Start Weight">
            </div>
            <div class="col-xs-6">
                <input type="number" id="drop-weight-{{exercise.id}}" class="form-control" placeholder="Drop Weight By">
            </div>
            <br/><br/><br/>
            <div class="col-xs-6">
                <input type="number" id="reps-{{exercise.id}}" class="form-control" placeholder="Start Reps">
            </div>
            <div class="col-xs-6">
                <input type="number" id="drop-reps-{{exercise.id}}" class="form-control" placeholder="Drop Reps By">
            </div>
            <br/>
            <br/>
            <div class="col-xs-12">
                <button type="button" class="btn btn-primary  btn-lg btn-block" onclick='DropSet({{exercise.id}})'>
                    Calculate Drop Set
                </button>
            </div>
        </div>
    </div>
</div>
<div id="formset-exercise-{{exercise.id}}" style="margin-top: 1em;">
<div class="row">
    <div class="col-md-offset-2 col-md-10">
        <label class="control-label">
            {{exercise}}
        </label>
    </div>
</div>
<div>
{{ formset.management_form }}

{% for field in formset %}
<div style="padding-top: 0.5em;">

    {# Header row with field labels, only for first loop #}
    <div class="row">
        {% for i in field %}
        {% if not i.is_hidden %}
            {% if forloop.first %}
            <div class="col-xs-2">
            </div>
            {% endif %}

            {% if forloop.parentloop.first %}
                <div class="{% cycle 'col-xs-3' 'col-xs-2' %}">
                    {{ i.label }}
                    {% if not i.field.required %}
                        <br>
                        <span style="font-size:90%;">— <em>{% trans "Optional" %}</em></span>
                    {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    {# Form field rows #}
    <div class="row">
        {% for i in field %}
            {% if forloop.first %}
            <div class="col-xs-2" style="text-align: right; padding-left: 0px;">
                {% trans "Nr." %} {{ forloop.parentloop.counter }}
            </div>
            {% endif %}

            {% if not i.is_hidden %}
            <div class="{% cycle 'col-xs-3' 'col-xs-2' %} {% if i.errors %}has-error{% endif %}" style="padding-left: 0px;">
            {% endif %}

            {#  Field elements #}
            {% if i|is_checkbox %}
                {{ i|form_field_add_css:'checkbox' }}
            {% else %}
                {{i|form_field_add_css:'form-control'}}
            {% endif %}

            {% for error in i.errors %}
                <div {% if i.errors %}class="has-error has-feedback"{% endif %}>
                <span class="help-block">
                    <p>{% trans error %}</p>
                </span>
                </div>
            {% endfor %}

            {% if not i.is_hidden %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
</div>
<script>
    function DropSet(workoutId) {
        var numOfSets = document.getElementById('id_sets').value;
        var reps = document.getElementById(`reps-${workoutId}`).value;
        var weight = document.getElementById(`weight-${workoutId}`).value;
        var dropWeight = document.getElementById(`drop-weight-${workoutId}`).value;
        var dropReps = document.getElementById(`drop-reps-${workoutId}`).value;
        var repsEntry = '';
        var weightEntry = '';
        console.log(dropWeight, dropReps, reps, weight);
        if (!((reps > 0) && (weight > 0) && (dropReps.length === '' || dropReps >= 0) && (dropWeight > 0))) {
            alert('Please ensure you enter all 4 Drop Set fields as positive integers')
        } else {
            for (var i = 0; i < numOfSets; i++){
                repsEntry = 'id_exercise' + workoutId + '-' + i + '-reps';
                weightEntry = 'id_exercise' + workoutId + '-' + i + '-weight';
                document.getElementById(repsEntry).value = reps;
                document.getElementById(weightEntry).value = weight;
                weight -= dropWeight;
                reps -= dropReps;
                if (weight < 2 || reps < 1) {
                    break;
                }

            }
        }

    }
</script>
